* {
    box-sizing: border-box;
    /*outline: rgb(7, 1, 20) solid 1px;*/
}

h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px grey;
    font-family: cursive;
    color: white;
}


ul {
    list-style-type: none;
}

button {
    font-family: monospace;
    font-weight: bold;
}

button:hover {
    background-color: greenyellow;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mr-keep-head-title {
    text-align: center;
    font-family: cursive;
    font-size: 5em;
    margin: 10px 0;
    color: yellowgreen;
    box-shadow: 2px 2px grey;
    background-color: lightcyan;
}

.notes-section {
    max-width: 700px;
    height: auto;
    padding: 30px;
    background-color: teal;
    margin: 0;
    width: 900px;
    box-shadow: 5px 5px grey;
}

.post-btn {
    background-color: lightgreen;
}

.del-btn {
    background-color: lightcoral;
}

.pin-btn {
    background-color: cadetblue;
}

.paint-btn {
    background-color: crimson;
}

.edit-btn {
    background-color: blueviolet;
}

.add-todo:hover {
    font-size: 1.1em;
    cursor:context-menu;
    color: rgb(33, 224, 65);
}

.add-img:hover {
    font-size: 1.1em;
    cursor:context-menu;
    color:  rgb(33, 224, 65);
}

.txt {
    font-family: monospace;
    font-size: 1.2em;
    width: 600px;
}

.txt-board {
    overflow-wrap: break-word;
}

.img-icon {
    font-size: 1.5em;
}

.line-through {
    text-decoration: line-through;
}

.mister-keep-app {
    display: flex;
    justify-content: center;
}

.col-picker {
    width: 20px;
}

.note-container {
    width: 300px;
    box-shadow: 3px 3px #888888;
    margin: 10px;
    padding: 10px;
}

.mr-keep-cmp {
    margin: 20px;
}

